.herobanner-container{
    width:100vw;
    position: relative;

}

.herobanner-container img{
    width:100vw;
    object-fit: cover;
    object-position: 0% 0%;
}
.herobanner-title{
    position: absolute;
    top:0%;
    left:50%;
    transform: translateX(-50%);
    width: 80vw;

}

.hero-description{
    position: absolute;
    bottom:5%;
    left:50%;
    transform: translateX(-50%);
    width:75vw;
    font-weight: 500;
}

@media screen and (min-width:655px){
    .herobanner-container img{
        height:90vh;
        object-position: 0% 10%;
    }

    .herobanner-title{
        top:10%;
        font-size: 2.5rem;
    }
}

@media screen and (min-width:865px){
    .herobanner-container img{
        ob
    }
}

@media screen and (min-width:1000px){
    .herobanner-container img{
        object-position: 0 40%;
    }
}